mat-drawer-container {
  height: 100vh;
}

mat-drawer {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.logo-container {
  padding: 24px 48px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  >li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px 48px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.14);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.24);
    }
  }
}

.routes-container {
  padding: 24px;
}



