<mat-drawer-container class="example-container" autosize>
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" type="button" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Simple CRM</span>

  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="logo-container">
      <p>Logo</p>
    </div>
    <ul>
      <li>Dashboard</li>
      <li>User</li>
    </ul>

  </mat-drawer>

  <div class="example-sidenav-content">

  </div>

</mat-drawer-container>
