
<form class="add-user-form" [formGroup]="userFormGroup">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput
           placeholder="Enter e-mail" formControlName="email">
    <mat-hint>Errors appear instantly!</mat-hint>
    @if (userFormGroup.get('email')?.invalid && userFormGroup.get('email')?.touched && userFormGroup.get('email')?.dirty) {
      <mat-error>Please enter a valid email address</mat-error>
    }
  </mat-form-field>
</form>
